#daemon configuration
telnet_port 4444
gdb_port 3333
proc jtag_device { IRL  IRC IRM IDC } {
   puts "WARNING: OLD SYNTAX HAS BEEN REMOVED"
   # the "IDCODE was never used.
   jtag newtap chip cpu -irlen $IRL -ircapture $IRC -irmask $IRM
}

#interface
interface ftdi
ftdi_device_desc "Dual RS232-HS"
#ftdi_layout "olimex-jtag"
ftdi_vid_pid 0x0403 0x6010

ftdi_layout_init 0x0908 0x0b1b
ftdi_layout_signal nSRST -oe 0x0200
ftdi_layout_signal nTRST -data 0x0100
ftdi_layout_signal LED -data 0x0800

adapter_khz 300

adapter_nsrst_delay 100
jtag_ntrst_delay 100

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
#jtag_device 4 0x1 0xf 0xe
jtag newtap chip1 cpu -irlen 4 -ircapture 0x01 -irmask 0xf
#jtag_device 5 0x1 0x1 0x1e
jtag newtap chip2 cpu -irlen 5 -ircapture 0x01 -irmask 0x1

target create target0 cortex_m -endian little -chain-position chip1.cpu

#[new_target_name] configure -work-area-virt 0 -work-area-phys 0x20000000 -work-area-size 16384 -work-area-backup 0
target0 configure -work-area-phys 0x20000000 -work-area-size 16384 -work-area-backup 0

#flash bank str7x <base> <size> 0 0 <target#> <variant>
flash bank stm32x stm32f1x 0 0 0 0 target0

# For more information about the configuration files, take a look at:
# openocd.texi

